<div class="container">
  <div class="form-wrapper"style="width: 500px; margin:0 auto;">

    <h1>Booking table Test</h1>

    <%= form_for @Booking do |f| %>
    <%= f.error_notification %>

      <%= f.input :starts_at, as: String, input_html: { :id => "start_date" } %>

      <%= f.input :ends_at, as: String, input_html: { :id => "end_date" } %>

      <%= f.submit "Go", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>


<end>
