<header>
  <div class="container">
    <nav class="theme-1">
      <%=  link_to image_tag('logo.svg', :class => "logo btn"), root_path %>
      <ul>
        <% if @current_user.present? %>
        <li><a><%= link_to "Search Homes", properties_path, class:"btn" %></a></li>
        <li><a class="btn"href="#">Experiences</a></li>
        <li><a class="btn"href="#">Become a host</a></li>
        <li><a><%= link_to "My Dashboard", @current_user, class:"btn" %></a></li>
        <li><a><%= link_to "Log out #{ @current_user.email }", login_path, :method => 'delete', class:"btn" %></a></li>
        <% else %>
        <li><a><%= link_to "Search Homes", properties_path, class:"btn" %></a></li>
        <li><a class="btn"href="#">Experiences</a></li>
        <li><a class="btn"href="#">Become a host</a></li>
        <li><a><%= link_to "Log in", login_path, class:"btn btn-success"%></a></li>
        <li><a><%= link_to "Sign up", new_user_path, class:"btn btn-primary"%></a></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
